ADMIN_PORTAL_URL=
DATABASE_URL=
DATABASE_BACKUP_FALLBACK=
CC_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_SEO_BOT_TOKEN=
TELEGRAM_SEO_ADMIN=
ALLOW_LOCAL_TESTING=true
NEXT_PUBLIC_ALLOW_LOCAL_TESTING=true

# DB_2=   # shared shard (requires CC_ID)
